In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('spam1.csv')

In [3]:
df

     Category                                            Massage
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham              Will �_ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
df.groupby('Category').describe()

         Massage                                                            \
           count unique                                                top
Category
ham         4824   4510                             Sorry, I'll call later
spam         747    653  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [5]:
df['spam']=df['Category'].apply(lambda x: 1 if x=='spam' else 0)

In [6]:
df.head()

  Category                                            Massage  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.Massage,df.spam,test_size=0.25)

from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()

In [21]:
x_train_count=v.fit_transform(x_train.values.astype('U'))
x_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

lk

In [9]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [10]:
nb.fit(x_train_count,y_train)

MultinomialNB()

In [11]:
emails=[
'Congrats 91379677XX, Get Rs.2000/- Welcome Bonus Register For Free & Play Rummy:http://1kx.in/g5JZf9 To Optout: SMS REJECT to 56161',
'Kishan Improve Your Job Search Results With The Help Of Resume Builder',
'We combed our catalog and found courses that we think match your interests. Browse our recommendations below, and start learning something new today!',
'Your password changed Your password for the Microsoft account Ki*****@gmail.com was changed on 4/19/2021 3:20 PM (GMT).If this was you, then you can safely ignore this email.',  
'Win GOLD,jio cricket,electrinics and much more do it now'
'Get Rs. 50 Fantasy tickets to play Rs. 5 Crore guaranteed contest of Indian T20 League on MPL. Winner gets Rs. 1 Crore. Hurry, claim now: bit.ly/mplti'
]

In [12]:
email_count = v.transform(emails)
nb.predict(email_count)

array([1, 0, 0, 0, 1])